.loader-spin div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: scale(0);
  animation: animate 1.5s ease-in-out infinite;
  display: inline-block;
  margin: .5rem;
}
.loader-spin div:nth-child(0) {
  animation-delay: 0s;
}
.loader-spin div:nth-child(1) {
  animation-delay: 0.2s;
}
.loader-spin div:nth-child(2) {
  animation-delay: 0.4s;
}
.loader-spin div:nth-child(3) {
  animation-delay: 0.6s;
}
.loader-spin div:nth-child(4) {
  animation-delay: 0.8s;
}
.loader-spin div:nth-child(5) {
  animation-delay: 1s;
}
.loader-spin div:nth-child(6) {
  animation-delay: 1.2s;
}
.loader-spin div:nth-child(7) {
  animation-delay: 1.4s;
}
@keyframes animate {
  0%, 100% {
    transform: scale(0.2);
    background-color: #28B781;
  }
  40% {
    transform: scale(1);
    background-color: #25C5D9;
  }
  50% {
    transform: scale(1);
    background-color: linear-gradient(151deg, #1FABD3 0%, #1CCC97 100%);
  }
}